body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

header {
    background-color: blue;
}

nav {
    background-color: aqua;
    display: inline-block;
    width: 80%;
}

main {
    background-color: blanchedalmond;
    font-size: medium;
}

footer {
    background-color: cadetblue;
}

li {
    display: inline;
    width: 50%;
}

h1 {
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rebeccapurple;
}

p {
    line-height: 75%;
}

header img {
    width: 10%;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
}

image.grid {
    size: 100%;
}